.bookcontainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 4px 0 #0000007c;
}

.title {
    margin: 0;
    font-size: 1.3rem;
}

.gender {
    margin: 0;
    font-style: italic;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
}

.authorstars {
    margin-top: 10px;
}

.author {
    margin: 0;
    text-transform: capitalize;
}

.stars {
    display: flex;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: #4d4d4d;
}