.pageup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 100px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.pageup:hover {
    color: var(--hover-contrast-color);
}

@media (max-width: 770px) {
    .pageup {
        bottom: 5px;
        right: 5px;
        padding: 15px;
    }
}