:root {
  --primary-color: rgb(0, 0, 0);
  --hover-primary-color: #4d4d4d;
  --contrast-color: white;
  --hover-contrast-color: #ffffffb4;
}

header {
  position: sticky;
  top: 0;
}

body {
  margin: 0;
}
