.navbar {
    height: 70px;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: sticky;
    top: 0;
}

.pagetitle {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: var(--hover-contrast-color);
}

@media (max-width: 770px) {
    .navbar {
        padding: 10px;
    }
}