.container {
    position: fixed;
    width: 30%;
    right: 0;
    left: 0;
    margin: auto;
}

.input {
    width: 100%;
    font-size: 1.2rem;
}

.submit {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
}


@media (max-width: 770px) {
    .container {
        width: 60%;
    }
}